<% include ./layout %>
<body>
  <div class='container' style='margin-top: 2%;'>
    <div class='jumbotron'>
      <h3>Your lil URL for <a href='http://<%= oriUrl %>'><%= oriUrl%></a> is <code><%= shortUrl %></code></h3>
      <h3>You can now access it using <a href=<%= shortUrl %>><%= shortUrl%></a></h3>
      <hr>
      <h3>Thanks for using Stan's lil URL service</h3>
    </div>
  </div>
</body>    